<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
  <title>Projekt-Diagramm</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
  <th:block th:fragment="content">

    <div class="container">
      <div class="text-center">
        <h1 th:text="${project.name}"></h1>
        <div class="padding-50"></div>
        <p th:text="${project.description}"></p>
        <p>
          Status:
          <b th:text="${project.status}"></b>
        </p>

      </div>
    </div>

    <div class="container">
      <div class="padding-50"></div>
      <div class="row">
        <div class="col">
          <a th:href="@{'/project/' + ${pID} + '/show'}">
            <button type="button" class="btn btn-outline-success">Zurück zur Projektdetails</button>
          </a>
        </div>
        <div class="col-auto">
          <div class="selectBox">
            <select id="chartType" style="font-size:16px;">
              <option value=0>Bar</option>
              <option value=1>Line</option>
              <option value=2>Radar</option>
              <option value=3>Doughnut</option>
              <option value=4>Pie</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-50"></div>
    <div class="chartBox" style="height: 300px">
      <canvas id="projectDiagram"></canvas>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">

      //Daten von users holen
      var listOfStatus = /*[[${listOfStatus}]]*/ "listOfStatus";
      var labels = /*[[${labels}]]*/ "labels";
      var projectName = /*[[${projectName}]]*/ "projectName";


      //Configs for diffrent chart types
      var bar = {
        type: "bar",
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      };

      var line = {
        type: "line",
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            yAxes: [{
              beginAtZero: true
            }]
          }
        }
      };

      var radar = {
        type: "radar",
        options: {
          responsive: true,
          maintainAspectRatio: false,
          elements: {
            line: {
              borderWidth: 3
            }
          }
        }
      };

      var doughnut = {
        type: "doughnut",
        options: {
          responsive: true,
          maintainAspectRatio: false
        }
      };

      var pie = {
        type: "pie",
        options: {
          responsive: true,
          maintainAspectRatio: false
        }
      };

      //array of all chart type configs
      var configs = [bar, line, radar, doughnut, pie];



      //calculate diffrent datasets
      function createData() {

        var data = [];

        var counter = {};

        for(i = 0; i < listOfStatus.length; i++){
          if(counter[listOfStatus[i]]){
            counter[listOfStatus[i]] += 1;
          }else{
            counter[listOfStatus[i]] = 1;
          }
        }

        for (i = 0; i < labels.length; i++) {
          if(counter[labels[i]]){
            data.push(counter[labels[i]]);
          }else {
            {
              data.push(0);
            }
          }
        }

        var datasets = [{
          label: projectName,
          data,
          backgroundColor: [
            "#f38b4a",
            "#56d798",
            "#ff8397",
            "#6970d5"
          ],
          borderWidth: 1
        }];

        return {
          labels,
          datasets
        };
      }

      const data = createData();


      //erstellt ein neues Chart Objekt zu einem Objekt von list
      function createNewChart(ctx, chartIndex) {

        return new Chart(ctx, {
          type: configs[chartIndex].type,
          //calculated beforehand
          data,
          options: configs[chartIndex].options
        });
      }

      //Auf den canvas referenzieren
      var ctx = document.getElementById("projectDiagram").getContext('2d');

      var myChart = createNewChart(ctx, 0);


      //change chart type
      //get id from drop selectBox
      const chartType = document.getElementById('chartType');
      //eventlistener
      chartType.addEventListener('change', changeChartType);
      //function to change the type
      function changeChartType() {

        //to change the chart type, you have to delete it first, because
        //the presettings for the current diagram won't disappear, then
        //create it anew
        myChart.destroy();
        myChart = createNewChart(ctx, chartType.value);
      }
    </script>

  </th:block>
</body>

</html>
