<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
<title th:text="${contract.name}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h1 th:text="${contract.name}"></h1>
            </div>
        </div>
        <div class="padding-50"></div>
        <div th:if="${billingItems.empty}" class="text-center">
            <p>Keine Leistungspositionen verfügbar.</p>
        </div>
        <div class="container">
            <div class="text-center">
                <div th:unless="${billingItems.empty}">
                    <div th:each="billingItem : ${billingItems}">
                        <a
                            th:href="@{'/project/' + ${pID} + '/contract/' + ${cID} + '/billing_item/' + ${billingItem.bID} + '/show'}"
                            th:text="${billingItem.name}" style="font-size: 25px"></a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>