<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Fehler </title>
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h2 th:text="${'Error ' + #response.status}"> Fehler </h2>
                <p class="alert alert-danger"> Das sollte nicht passieren. Ehrlich! Aber wenn du schon hier bist, kannst du hier auch einfach kurz eine Pause
                    einlegen. Ich habe sogar dein Heißgetränk der Wahl für dich. </p>
                <div class="padding-50"></div>
                <i class="bi bi-cup" style="font-size: 500%; color: black;"></i>
                <div class="padding-50"></div>
                <p class="alert alert-info" th:unless="${message}"> Da ist etwas ja richtig schief gelaufen... </p>
                <p class="alert alert-danger" th:if="${message}" th:text="${message}"></p>
            </div>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-4 text-center">
                        <a class="btn btn-secondary" href="javascript:history.back()"> Zurück zur letzten Seite </a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</body>

</html>