<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <!--    viewport varies with the device-->
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
</head>

<body>
    <div class="container-fluid">
        <div class="banner">
            <nav class="navbar navbar-expand navbar-dark justify-content-center" th:fragment="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                            Smart Building Solutions
                    </a>
                    <div class="collapse navbar-collapse justify-content-sm-center" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <th:block sec:authorize="isAuthenticated()">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Startseite</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Über uns</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Kontakt</a>
                                    <!--                            </li>-->
                                    <!--                            <li class="nav-item">-->
                                    <!--                                <a class="nav-link" th:href="@{/project_overview}">Projekte</a>-->
                                    <!--                            </li>-->
                                <li class="nav-item">
                                    <a class="nav-item nav-link" href="javascript:document.logoutForm.submit()">Logout</a>
                                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                        <input type="submit" value="Logout" />
                                    </form>
                                </li>
                            </th:block>
                            <th:block sec:authorize="!isAuthenticated()">
                                <a class="nav-item nav-link" th:href="@{/index}">Startseite</a>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{#}">Kontakt</a>
                            </li>
                            <a class="nav-item nav-link" th:href="@{/login}">Login</a>
                        </th:block>
                    </ul>
                </div>
            </div>
        </nav>
        <th:block sec:authorize="isAuthenticated()">
            <div class="container">
                <div class="padding-50"></div>
                    <table class="table table-borderless" style="table-layout: fixed;">
                        <td style="width: 10%; background-color: rgba(0, 0, 0, 0);"></td>
                            <td style="width: 80%; background-color: rgba(0, 0, 0, 0);">
                                <div class="card">
                                    <img src="/images/haus-bauen.jpg" alt="Jane" style="width:100%; height: 50%">
                                    <div class="container">
                                        <h2>Aktuelle Projekte</h2>
                                        <p class="title">Die Verwaltung von Projekten ist jetzt einfacher als je zuvor.</p>
                                        <p>Zugriff auf die aktuellen Projekte deiner Organisation, damit du alles auf einen Blick hast.</p>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 10%; background-color: rgba(0, 0, 0, 0);"></td>
                        </table>
                    </div>
                    <div class="padding-50"></div>
                    <div class="container">
                        <div class="column">
                            <div class="card">
                                <img src="/images/papierstapel.jpeg" alt="Mike" style="width:100%">
                                <div class="container" style="padding-bottom: 10px">
                                    <h2>Aktuelle Projekte</h2>
                                    <p class="title">Die Verwaltung von Projekten ist jetzt einfacher als je zuvor.</p>
                                    <p>Zugriff auf die aktuellen Projekte deiner Organisation, damit du alles auf einen Blick hast.</p>
                                    <a th:href="@{/project_overview}">
                                        <button type="button" class="button" > Zu den Projekten</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <img src="/images/stock-buero.jpg" alt="John" style="width:100%">
                                <div class="container" style="padding-bottom: 10px">
                                    <h2>Organisations- und Accountmanagement</h2>
                                    <p class="title"></p>
                                    <p>Besuche die Benutzerverwaltung um eigene Daten einzusehen und zu verändern. Behalte den Überblick über deine Organisation.</p>
                                    <a th:href="@{/organisations}">
                                        <button type="button" class="button"> Zu den Organisationen</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</body>

</html>
