<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navigation Bar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <nav class="navbar navbar-expand" th:fragment="navbar">
        <div class="navbar-collapse collapse">
            <div class="navbar-nav">
                <th:block sec:authorize="isAuthenticated()">
                    <a class="nav-item nav-link" th:href="@{/index}">Startseite</a>
                    <a class="nav-item nav-link" th:href="@{/project_overview}">Projekte</a>
                    <a class="nav-item nav-link" th:href="@{/organisations}">Organisation</a>
                    <a class="nav-item nav-link" th:href="@{/status_overview}">Status</a>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <a class="nav-item nav-link" th:href="@{/index}">Startseite</a>
                </th:block>
            </div>
        </div>
        <div class="navbar navbar-expand navbar-nav">
            <div th:switch="${session.darkmodeEnabled}">
                <div th:case="false" class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="darkmode-toggle">
                    <label class="form-check-label" for="darkmode-toggle" style="display: block; padding-right: 30px"> Darkmode </label>
                </div>
                <div th:case="true" class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="darkmode-toggle" checked>
                    <label class="form-check-label" for="darkmode-toggle" style="display: block; padding-right: 30px"> Darkmode </label>
                </div>
            </div>
            <a class="navbar-brand" href="/organisations" padding-left="50px" padding-right="50px">
                <img th:src="@{/images/Logo.png}" height="40" alt="Logo">
            </a>
        </div>
    </nav>
</body>

</html>
