<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Navigation Bar</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" th:fragment="navbar">
        <div class="navbar-collapse collapse">
            <div class="navbar-nav">
                <th:block sec:authorize="isAuthenticated()">
                    <a class="nav-item nav-link" th:href="@{/project_overview}">Projekte</a>
                    <a class="nav-item nav-link" th:href="@{/organisations}">Organisation</a>
                    <!-- Logout must be performed as a POST request, i. e., via a form button.
			     For visual consistency, we use a hidden form submitted by a link here. -->
                    <a class="nav-item nav-link" href="javascript:document.logoutForm.submit()">Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input type="submit" value="Logout" />
                    </form>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <a class="nav-item nav-link" th:href="@{/login}">Login</a>
                </th:block>
            </div>
        </div>
        <a class="navbar-brand" href="/organisations">
            <img th:src="@{/images/Logo.png}" height="40" alt="Logo">
        </a>
    </nav>
</body>

</html>