<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
<title>Projekte</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h1>Projekte</h1>
            </div>
        </div>
        <div class="padding-50"></div>
        <div th:if="${projects.empty}" class="text-center">
            <p>Keine Projekte verfügbar.</p>
        </div>
        <div class="container">
            <div class="text-center">
                <div th:unless="${projects.empty}">
                    <div th:each="project : ${projects}">
                        <a th:href="@{'/project/' + ${project.pID} + '/show'}" class="icon-link">
                            <i class="bi bi-archive" style="font-size: 300%; color: black;" th:title="${project.name}"></i>
                            <span th:text="${project.name}" style="font-size: 175%; color: black; display: block;"></span>
                        </a>
                        <div class="padding-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>