<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h1> Rolle hinzufügen </h1>
                <div class="padding-50"></div>
                <form action="#" th:action="@{'/organisation/' + ${organisation.id} + '/role_management/role_save'}" th:object="${role}" method="post">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="name"> Name </label>
                                <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                    </div>
                    <div class="padding-50"></div>
                    <button type="submit" class="btn btn-success"> Rolle hinzufügen </button>
                </form>
            </div>
        </div>
    </th:block>
</body>

</html>