<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <title>Nutzerverwaltung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h1>Benutzer bearbeiten</h1>
                <div class="padding-50"></div>
                <form action="#" th:action="@{'/user_management/user/' + *{id} + '/edit'}" th:object="${user}" method="post">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="surname"> Vorname </label>
                                <input type="text" class="form-control" id="surname" th:field="*{surname}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="lastname"> Nachname </label>
                                <input type="text" class="form-control" id="lastname" th:field="*{lastname}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="organization"> Organisation </label>
                                <input type="text" class="form-control" id="organization" th:field="*{organization}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="role"> Rolle </label>
                                <input type="text" class="form-control" id="role" th:field="*{role}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="username"> Benutzername </label>
                                <input type="text" class="form-control" id="username" th:field="*{username}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="password"> Passwort </label>
                                <input type="password" class="form-control" id="password" />
                            </div>
                        </div>
                    </div>
                    <div class="padding-50"></div>
                    <button type="submit" class="btn btn-success"> Änderungen speichern </button>
                </form>
            </div>
        </div>
    </th:block>
</body>

</html>