<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
<title>Neuer Status</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h1>Neuer Status</h1>
                <div class="padding-50"></div>
                <div class="container">
                    <div class="row btn-row justify-content-end align-items-center">
                        <a th:href="@{'/status_overview'}">
                            <button type="button" class="btn btn-outline-success">Zurück zu den Status</button>
                        </a>
                    </div>
                </div>
                <div class="padding-50"></div>
                <form action="#" th:action="@{'/status_save'}" th:object="${status}" method="post">
                    <div th:if="${#fields.hasAnyErrors()}">
                        <p class="alert alert-danger" role="alert" th:each="error : ${#fields.detailedErrors()}"
                            th:text="${error.fieldName + ': ' + err.message}"></p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" required="required" class="form-control" id="name" th:field="*{name}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                    </div>
                    <div class="padding-50"></div>
                    <button type="submit" class="btn btn-success">Status erstellen</button>
                </form>
            </div>
        </div>
    </th:block>
</body>

</html>