<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
<title th:text="${billingItem.name}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h1 th:text="${billingItem.name}"></h1>
                <div style="padding-top: 30px"></div>
                <p th:text="${billingItem.shortDescription}"></p>
                <p>
                    Status:
                    <b th:text="${billingItem.status}"></b>
                </p>
                <div style="padding-top: 20px"></div>
                <a th:href="@{'/project/' + ${pID} + '/contract/' + ${cID} + '/show'}">
                    <button type="button" class="btn btn-outline-success">Zurück zum Vertrag</button>
                </a>
            </div>
        </div>
    </th:block>
</body>

</html>