<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
<title th:text="${billingItem.name}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h1 th:text="${billingItem.name}"></h1>
                <div class="padding-50"></div>
                <p th:text="${billingItem.shortDescription}"></p>
                <p>
                    Status:
                    <b th:text="${billingItem.status}"></b>
                </p>
            </div>
        </div>
        <div class="container">
            <div style="padding-top: 12px"></div>
            <div class="row">
                <div class="col">
                    <a th:href="@{'/project/' + ${pID} + '/contract/' + ${cID} + '/show'}">
                        <button type="button" class="btn btn-outline-success">Zurück zum Vertrag</button>
                    </a>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>