<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h1> Benutzer bearbeiten </h1>
                <div class="padding-50"></div>
                <form action="#" th:action="@{'/organisation/' + ${organisation.id} + '/user_management/user/' + ${user.id} + '/user_update'}" th:object="${user}" method="post">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="firstname"> Vorname </label>
                                <input type="text" class="form-control" id="firstname" th:field="*{forename}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="lastname"> Nachname </label>
                                <input type="text" class="form-control" id="lastname" th:field="*{lastname}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="username"> Benutzername </label>
                                <input type="text" class="form-control" id="username" th:field="*{username}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="password"> Passwort </label>
                                <input type="password" class="form-control" id="password" th:field="*{password}" th:errorclass="is-invalid" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="role"> Rolle </label>
                                <select th:field="*{role}" class="form-control" id="role" th:errorclass="is-invalid">
                                    <option th:each="role : ${organisation.roles}" th:text="${role.name}" th:value="${role.id}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}" />
                    <div class="padding-50"></div>
                    <button type="submit" class="btn btn-success"> Änderungen speichern </button>
                </form>
            </div>
        </div>
    </th:block>
</body>

</html>