<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <div class="text-center">
                <h1> Rollenverwaltung </h1>
            </div>
        </div>
        <div class="padding-50"></div>
        <div class="container">
            <div class="row btn-row justify-content-end align-items-center">
                <div class="col-4 text-center">
                    <a th:href="@{'/organisation/' + ${organisation.id} + '/user_management'}">
                        <button type="button" class="btn btn-outline-success"> Benutzer verwalten </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="padding-50"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 70%" scope="col"> Rolle </th>
                                <th class="text-center" style="width: 30%" scope="col"> Optionen </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${roles.empty}" class="text-center">
                                <td colspan="2"> Keine Rollen verfügbar </td>
                            </tr>
                            <tr th:each="role : ${roles}">
                                <td class="text-center"><span th:text="${role.name}"> Rolle </span></td>
                                <td class="text-center">
                                    <span>
                                        <div class="row justify-content-center">
                                            <div class="col-3">
                                                <a th:href="@{'/organisation/' + ${organisation.id} + '/role_management/role/' + ${role.id} + '/role_edit_users'}"
                                                    class="icon-link">
                                                    <i class="bi bi-people" style="font-size: medium; color: black;" title="Nutzer der Rolle editieren"></i>
                                                </a>
                                            </div>
                                            <div class="col-3">
                                                <a th:href="@{'/organisation/' + ${organisation.id} + '/role_management/role/' + ${role.id} + '/role_edit_access_projects'}"
                                                    class="icon-link">
                                                    <i class="bi bi-x-octagon" style="font-size: medium; color: black;" title="Zugriffsrechte editieren"></i>
                                                </a>
                                            </div>
                                            <div class="col-3">
                                                <a th:href="@{'/organisation/' + ${organisation.id} + '/role_management/role/' + ${role.id} + '/role_edit_name'}"
                                                    class="icon-link">
                                                    <i class="bi bi-pencil" style="font-size: medium; color: black;" title="Rollennamen editieren"></i>
                                                </a>
                                            </div>
                                            <div class="col-3">
                                                <a th:href="@{'/organisation/' + ${organisation.id} + '/role_management/role/' + ${role.id} + '/role_delete'}"
                                                    class="icon-link">
                                                    <i class="bi bi-trash" style="font-size: medium; color: rgb(255, 60, 60);" title="Rolle löschen"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="padding-50"></div>
        <div class="container">
            <div class="row btn-row justify-content-center align-items-center">
                <div class="col-4 text-center">
                    <a th:href="@{'/organisation/' + ${organisation.id} + '/role_management/role_new'}">
                        <button type="button" class="btn btn-outline-success"> Rolle hinzufügen </button>
                    </a>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>