.btn-row {
    height: 50px
}

.padding-50 {
    height: 50px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar-nav>a {
    padding-left: 30px;
    padding-right: 30px;
}