<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <title>Nutzerverwaltung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container">
            <h2>Organisationsverwaltung</h2>
			<p>Nur SysAdmin hat Zugriff, aber als Dummyseite hat jeder Zugriff</p>
        </div>
    </th:block>
</body>

</html>